/* layout */
@media (min-width: 768px) {
  .pure-u-1 {
    padding-top: 200px;
  }
  .pure-u-1 .content .pure-form {
    width: 410px;
    margin: 0 auto;
  }
  .pure-u-1 .content .pure-form .pure-input {
    width: 280px;
  }
  .pure-u-1 .content .pure-form .pure-button {
    margin-left: 2px;
    width: 120px;
  }
}
@media (max-width: 767px) {
  .pure-u-1 .content .pure-form .pure-input,
  .pure-u-1 .content .pure-form .pure-button {
    display: block;
    width: 90%;
    margin: 5px auto;
  }
}
.pure-u-1 .content .pure-form .pure-input,
.pure-u-1 .content .pure-form .pure-button {
  font-size: 16px;
  padding: 8px;
}
#modal-loading {
  margin: 0 auto;
  display: block;
}
#modal-result div.result {
  padding: 10px 0px;
}
#modal-result div.result span {
  color: #3e3232;
  display: inline-block;
}
#modal-result div.result span.title {
  font-size: 24px;
}
#modal-result div.result span.version {
  color: #d83b8c;
  margin-left: 10px;
}
#modal-result div.result span.package {
  color: #695f56;
  display: block;
  margin: 10px 0px;
}
#modal-result div.result button {
  display: block;
}
