@import url(http://fonts.googleapis.com/css?family=Cuprum);

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
/* layout */
@media (min-width: 768px) {
  .pure-g-r {
    padding-left: 150px;
    left: 0;
  }
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 150px;
    width: 150px;
    margin-left: -150px;
  }
}
nav {
  overflow-y: auto;
}
nav .pure-menu {
  padding-bottom: 20px;
}
nav .pure-menu .pure-menu-heading {
  margin-bottom: 18px;
}
.pure-u-1 {
  width: 100%;
}
.pure-u-1 .header {
  font-size: 110%;
  text-align: center;
}
.pure-u-1 .content {
  width: 60%;
  margin: 0 auto;
}
/* theme */
body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: 'Lato', 'Helvetica', sans-serif;
}
nav {
  background-color: #3e3232;
}
nav .pure-menu.pure-menu-open {
  background: transparent;
  border: 0;
}
nav .pure-menu .pure-menu-heading {
  color: #fff;
  border-bottom: 1px solid #695f56;
  font-family: 'Cuprum', 'Helvetica', sans-serif;
  font-size: 28px;
  text-transform: capitalize;
}
nav .pure-menu li.pure-menu-devider {
  border-bottom: 1px solid #2b1c1f;
  width: 80%;
  margin: 10px auto;
}
nav .pure-menu li a {
  color: #ccc1ab;
  font-weight: 300;
}
nav .pure-menu li a:hover {
  background-color: #695f56;
}
