<html>
  <head>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <pre><code>
      <%= content %>
    </code></pre>
  </body>
</html>
