<nav id="menu" class="pure-u">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/"><%= title %></a>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li class="pure-menu-devider"></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </div>
</nav>
