<nav id="menu" class="pure-u">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/"><%= title %></a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analyze">Analyze Apk</a></li>
            <li><a href="/search">Search Apk</a></li>
            <li class="pure-menu-divider"></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </div>
</nav>
