<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>

        <% include includeStylesheets %>
        <link rel='stylesheet' href='/stylesheets/index.css'>
    </head>
    <body>
        <div class="pure-g-r">
            <% include includeNavbar %>

            <div class="pure-u-1">
                <header class="header">
                    <h1>Analyze APK</h1>
                </header>

                <div class="content">
                    <form action="/api/apk/analyze" method="POST" class="pure-form" enctype="multipart/form-data">
                        <fieldset>
                            <input type="text" placeholder="Click to Select File" class="pure-input pure-fake-file">
                            <input type="file" id="apk" name="apk" class="pure-input pure-file hide">
                            <button type="submit" class="pure-button pure-button-primary">
                                Upload
                                <i class="fa fa-upload"></i>
                            </button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
                <h2 id="myModalLabel">APK Information</h2>
            </div>
            <div class="modal-body">
                <img id="modal-loading" src="/images/gif-load.gif">
                <div id="modal-result"></div>
            </div>
            <div class="modal-footer">
                <button class="pure-button" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="modal-detail-button" class="pure-button pure-button-primary" data-dismiss="modal" aria-hidden="true">Browse Details</button>
            </div>
        </div>

        <% include includeJavascripts %>
        <script src="/javascripts/index.js"></script>
    </body>
</html>
