<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>

        <% include includeGA %>
        <% include includeStylesheets %>
        <link rel='stylesheet' href='/stylesheets/search.css'>
    </head>
    <body>
        <% include includeForkGithub %>

        <div class="pure-g-r">
            <% include includeNavbar %>

            <div class="pure-u-1">
                <header class="header">
                    <h1>Search APK</h1>
                </header>

                <div class="content">
                    <form action="/api/apk/search" method="GET" class="pure-form">
                        <fieldset>
                            <input type="text" id="query" name="query" placeholder="Yahoo" class="pure-input pure-fake-file">
                            <button type="submit" class="pure-button pure-button-primary">
                                Search
                                <i class="fa fa-search"></i>
                            </button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
                <h2 id="myModalLabel">APKs found</h2>
            </div>
            <div class="modal-body">
                <img id="modal-loading" src="/images/gif-load.gif">
                <div id="modal-result"></div>
            </div>
            <div class="modal-footer">
                <button class="pure-button" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

        <% include includeJavascripts %>
        <script src="/javascripts/search.js"></script>
    </body>
</html>
